<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:include="common.html :: source"></th:block>
    <link rel="shortcut icon" href="images/favicon.ico" type="favicon.ico">
    <link rel="stylesheet" href="/layui/css/layui.css" media="all"/>
</head>
<body>

<th:block th:include="common.html :: header"></th:block>

<div class="i_bg">
    <div class="postion">
    </div>
    <div class="content" style="margin-left: 390px">
        <div id="tsShopContainer" style="float:left;">
            <div id="tsImgS">
                <img th:src="'/images/'+${product.fileName}" width="390" height="390"
                     style="border:1px solid #EAEAEA;"/>
            </div>
        </div>
        <div class="pro_des">
            <div class="des_price">
                发布价格：￥<b th:text="${product.price}"></b><br/>
            </div>
            <div class="des_name">
                <input type="hidden" value="1" name="entityId" class="n_ipt"/>
                名称：<p th:text="${product.name}"></p>
            </div>
            <div class="des_name">
                <input type="hidden" value="1" name="entityId" class="n_ipt"/>
                描述：<p th:text="${product.description}"></p>
            </div>
            <div class="des_name">
                发布人：<p th:text="${product.creator}"></p>
            </div>
            <div class="des_name">
                发布时间：<p th:text="${product.createdTime}"></p>
            </div>
            <div id="layerDemo" class="des_price">
                <button type="button" class="layui-btn layui-btn-warm layui-btn-radius" data-method="want">我想要</button>
                <button type="button" class="layui-btn layui-btn-primary layui-btn-radius" onclick="back()">返回</button>
            </div>
        </div>
    </div>
</div>

<form class="layui-form" id="test" style="display:none">
    <div class="layui-form-item">
        <label class="layui-form-label">头像</label>
        <div class="layui-input-block">
            <input type="text" th:value="${productUser.fileName}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">昵称</label>
        <div class="layui-input-block">
            <input type="text" th:value="${productUser.nickname}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">性别</label>
        <div class="layui-input-block" th:if="${productUser.gender==1}">
                <input type="radio" name="gender" value="1" checked="checked">&nbsp;男
        </div>
        <div class="layui-input-block" th:if="${productUser.gender==2}">
            <input type="radio" name="gender" value="2" checked="checked">&nbsp;女
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">手机号码</label>
        <div class="layui-input-block">
            <input type="text" th:value="${productUser.mobile}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">信誉等级</label>
        <div class="layui-input-block">
            <span th:if="${productUser.creditScore<60}">信用极差</span>
            <span th:if="${productUser.creditScore<80}and${productUser.creditScore>=60}">信用较差</span>
            <span th:if="${productUser.creditScore<100}and${productUser.creditScore>=80}">信用一般</span>
            <span th:if="${productUser.creditScore<120}and${productUser.creditScore>=100}">信用较好</span>
            <span th:if="${productUser.creditScore>=120}">信用极好</span>
        </div>
    </div>
</form>

<script src="/layui/layui.js" charset="utf-8"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述 JS 路径需要改成你本地的 -->
<script>
    layui.use('layer', function () {
        var $ = layui.jquery, layer = layui.layer;
//触发事件
        var active = {
            want: function () {

                 layer.confirm('即将为您展示卖家信息，为保障用户权益，平台需要验证您的信用积分，积分小于60将被限制交易。选择继续则验证积分，取消则终止交易。如造成您的不便，我们深感遗憾！', {icon: 3, title:'温馨提示'},function () {
                    layer.close(layer.index);
                    layer.open({
                        type: 1,
                        area: ['500px', '600px'],
                        title: 'tianxie'
                        , content: $("#test"),
                        shade: 0,
                        btn: ['我知道了']
                        , yes: function () {
                            layer.close(layer.index);
                        },
                        cancel: function () {
                            layer.closeAll();
                        }
                    });
                });
            }
        };
        $('#layerDemo .layui-btn').on('click', function () {
            var othis = $(this), method = othis.data('method');
            active[method] ? active[method].call(this, othis) : '';
        });
    });

    var backUri = document.referrer;

    function back() {
        window.location.href = backUri;
    }
</script>

<th:block th:include="common.html :: footer"></th:block>
<th:block th:include="common.html :: permit"></th:block>

</body>
</html>