<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:include="common.html :: source"></th:block>
    <link rel="shortcut icon" href="images/favicon.ico" type="favicon.ico">
    <link rel="stylesheet" href="/layui/css/layui.css" media="all"/>
</head>
<body>

<th:block th:include="common.html :: header"></th:block>

<div class="i_bg">
    <div class="postion">
    </div>
    <div class="content" style="margin-left: 390px">
        <div id="tsShopContainer" style="float:left;">
            <div id="tsImgS">
                <img th:src="'/images/'+${product.fileName}" width="390" height="390"
                     style="border:1px solid #EAEAEA;"/>
            </div>
        </div>
        <div class="pro_des">
            <div class="des_price">
                发布价格：￥<b th:text="${product.price}"></b><br/>
            </div>
            <div class="des_name">
                <input type="hidden" value="1" name="entityId" class="n_ipt"/>
                名称：<p th:text="${product.name}"></p>
            </div>
            <div class="des_name">
                <input type="hidden" value="1" name="entityId" class="n_ipt"/>
                描述：<p th:text="${product.description}"></p>
            </div>
            <div class="des_name">
                发布人：<p th:text="${product.creator}"></p>
            </div>
            <div class="des_name">
                发布时间：<p th:text="${product.createdTime}"></p>
            </div>
            <div id="layerDemo" class="des_price">
                <button type="button" class="layui-btn layui-btn-warm layui-btn-radius" data-method="want">我想要</button>
                <button type="button" class="layui-btn layui-btn-primary layui-btn-radius" onclick="back()">返回</button>
            </div>
        </div>
    </div>
</div>

<script src="/layui/layui.js" charset="utf-8"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述 JS 路径需要改成你本地的 -->
<script>
    layui.use('layer', function(){
        var $ = layui.jquery, layer = layui.layer;
//触发事件
        var active = {
            want: function () {
                var that = this;
                //多窗口模式，层叠置顶
                layer.open({
                    type: 2 //此处以iframe举例
                    , title: '当你选择该窗体时，即会在最顶端'
                    , area: ['390px', '260px']
                    , shade: 0
                    , maxmin: true
                    , offset: [ //为了演示，随机坐标
                        Math.random() * ($(window).height() - 300)
                        , Math.random() * ($(window).width() - 390)
                    ]
                    , content: '//layer.layui.com/test/settop.html'
                    , btn: ['继续弹出', '全部关闭'] //只是为了演示
                    , yes: function () {
                        $(that).click();
                    }
                    , btn2: function () {
                        layer.closeAll();
                    }

                    , zIndex: layer.zIndex //重点1
                    , success: function (layero) {
                        layer.want(layero); //重点2
                    }
                });
            }
        };
        $('#layerDemo .layui-btn').on('click', function(){
            var othis = $(this), method = othis.data('method');
            active[method] ? active[method].call(this, othis) : '';
        });
    });

    var backUri = document.referrer;
    function back() {
        window.location.href=backUri;
    }
</script>

<th:block th:include="common.html :: footer"></th:block>
<th:block th:include="common.html :: permit"></th:block>

</body>
</html>